.weather{
    width: 350px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #30363c;
    margin: 50px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.weather .top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather .top .city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather .top .weather-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weather .top .weather-icon{
    width: 100px;
}

.weather .bottom .temperature{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.weather .bottom .details{
    width: 100%;
    padding-left: 20px;
      
}

.weather .bottom .details .parameter-row{
    display: flex;
    justify-content: space-between; 
}

.deatils .parameter-label{
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.details .parameter-value{
    text-align: right;
    font-weight: 12px
}

@media (width < 400px){
    .weather{
        width: -moz-fit-content;
        width: fit-content;
    }

    .weather .bottom .temperature{
        font-size: 50px;
    }

    .weather .bottom .details{
        font-size: 14px;
    }
}