.title{
    margin-top: 50px;
    font-size: 23px;
    font-weight: 700;
}

.daily-item{
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 20%);
    background-color: #f5f5f5;
    border-radius: 16px;
    height: max-content;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px 20px;
}

.icon-small{
    width: 40px;
}

.day{
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;

}

.min-max{
    color: #757575;
}

.daily-details-grid{
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 5px;
}

.daily-details-grid-item{
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 10px 5px;
}

.daily-details-grid label:first-child{
    color: #333;
    font-weight: bold;
}

.daily-details-grid-item label:last-child{
    color: #212121;
}

@media (width < 600px) {

    .daily-item{
        text-align: center;
        display: block;
        justify-content: space-evenly;
    }

    .daily-details-grid{
        display: block;
        
    }
}