.container{
  max-width: 1080px;
  margin: 20px auto;
}

.pcity{
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #262626;
}

.navigation{
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  height: 70px;
}

.navigation .heading{
  font-size: 30px;
}

@media (width < 600px) {
  .pcity{
    font-size: 24px;
  }
  
}